.book {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.book.alredyRead {
    border-left: 5px solid #21B6A8;
}

.book h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}